.footer {
    padding: 1.5rem 2rem;
    background-color: #f5f5f5;
    text-align: center;
    font-size: 0.9rem;
    color: #555;

    &__wrapper {
      display: grid;
      gap: 16px;
      grid-template-areas: "title title title"
      "infos nav nav"
      "copyright copyright copyright";
    }

    &__title {
      grid-area: title;
    }

    &__nav {
      grid-area: nav;
    }

    &__infos {
      grid-area: infos;
      display: flex;
      align-items: center;
      gap: 16px;
    }

    &__copyright {
      grid-area: copyright;
    }
  }
  