.block {
    &__picture {
        position: relative;
        &Img {
            width: 100%;
        }
        &Caption {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: white;
            font-size: 35px;
        }
    }
}